
<section class="section-four">
    <div class="container shorten-section py-4">
        <div class="row">
            <div class="col-12 text-center pt-lg-5 pt-2">
                <h3>More than a link shortener</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center pb-4 pb-lg-5 mb-lg-3 pt-5">
                <a
                style="border: none;"
                    href="#"
                    role="button"
                    class="btn btn-primary btn-get-started"
                >
                    Get Started for Free</a
                >
            </div>
        </div>
    </div>
</section>

<footer class="pl-lg-5 pt-2">
    <section class="footer-section px-lg-5 mx-lg-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-12">
                    <h4>
                        Why Bitly?
                    </h4>
                    <a class="footer-link" href="#">Bitly 101</a> <br>
                    <a class="footer-link" href="#">Integrations & API</a> <br> 
                    <a class="footer-link" href="#">Enterprise Class</a> <br>
                    <a class="footer-link" href="#">Pricing</a> <br> <br>
                </div>
                <div class="col-lg-2 col-md-4 col-12">
                    <h4>
                        Solutions
                    </h4>
                    <a class="footer-link" href="#">Social Media</a> <br>
                    <a class="footer-link" href="#">Digital Marketing</a> <br>
                    <a class="footer-link" href="#">Customer Service</a> <br>
                    <a class="footer-link" href="#">For Developers</a> <br> <br>

                    <h4>
                        Features
                    </h4>
                    <a class="footer-link" href="#">Link Management</a> <br>
                    <a class="footer-link" href="#">Branded Links</a> <br>
                    <a class="footer-link" href="#">Mobile Links
                        Campaign</a> <br>
                    <a class="footer-link" href="#">Management & Analytics</a> <br> <br>
                </div>
                <div class="col-lg-2 col-md-4 col-12">
                    <h4>
                        Resources
                    </h4>
                    <a class="footer-link" href="#">Blog</a> <br>
                    <a class="footer-link" href="#">Resource Library</a> <br>
                    <a class="footer-link" href="#">Developers</a> <br>
                    <a class="footer-link" href="#">Support</a> <br> <br>

                    <h4>
                        Legal
                    </h4>
                    <a class="footer-link" href="#">Privacy Policy</a> <br>
                    <a class="footer-link" href="#">Terms of Service</a> <br> <br>
                </div>
                <div class="col-lg-2 col-md-4 col-12">
                    <h4>
                        Company
                    </h4>
                    <a class="footer-link" href="#">About Bitly</a> <br>
                    <a class="footer-link" href="#">Our Team</a> <br>
                    <a class="footer-link" href="#">Careers</a> <br>
                    <a class="footer-link" href="#">Partners</a> <br>
                    <a class="footer-link" href="#">Press</a> <br>
                    <a class="footer-link" href="#">Contact</a> <br>
                    <a class="footer-link" href="#">Reviews</a> <br>
                </div>
                <div class="col-lg-3 col-md-4 col-12 pt-lg-0 pt-3">
                    <img class="footer-logo" src="images/footerImageLogo.png" alt="bitly-logo">
                    <p>
                        © 2020 Bitly Handmade in NYC, San Francisco, Denver, and all over the world.
                    </p>

                    <div class="social-icons pl-lg-0 pl-5 ml-lg-0 ml-3">
                        <i class="fab fa-twitter footer-icons fa-2x px-2"></i>
                        <i class="fab fa-instagram footer-icons fa-2x px-2"></i>
                        <i class="fab fa-linkedin footer-icons fa-2x px-2"></i>
                        <i class="fab fa-facebook-square footer-icons fa-2x px-2"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous">
</script>

</body>

</html>