<%- include("layouts/header.ejs") %>

<section
    style="
        background-image: url(https://docrdsfx76ssb.cloudfront.net/static/1605732010/pages/wp-content/uploads/2019/03/enterprise01.jpg);
        background-size: cover;
    "
    id="testing"
    class="top-section pb-lg-5 mb-lg-5 pt-lg-5"
>
    <div class="container pt-5 mt-5 pb-lg-5 mb-lg-5">
        <div class="row">
            <div
                id="bitly101"
                class="col-lg-7 col-12 pt-lg-5 mt-lg-5 pl-lg-5 ml-lg-5 order-md-1 order-2"
            >
                <strong class="pl-lg-5 ml-lg-2">Enterprise Class</strong>
                <h1
                    style="font-size: 48px"
                    class="mt-lg-1 pl-lg-5 ml-lg-2 py-lg-0 py-3"
                >
                The trusted, unrivaled enterprise-grade solution
                </h1>
                <h2 class="pl-lg-5 mr-lg-3 ml-lg-2">
                    One link management platform for all your needs.
                </h2>
                <div class="mr-lg-3 pl-lg-5 pt-5 ml-lg-2">
                    <a
                        href="#"
                        role="button"
                        class="btn btn-primary custom-btn"
                    >
                        <!-- CLASS ME CHANGES KRLE ISKI -->

                        Get a Quote</a
                    >
                </div>
                <div class="mr-lg-3 pl-5 pl-lg-2 pb-lg-0 ml-lg-2 pt-lg-2">
                    <a
                        style="text-decoration: none"
                        class="pl-4 get-quote"
                        href="#"
                        >Watch Enterprise Demo</a
                    >

                    <p class="pt-3" style="font-size: 15px;"><strong>Talk to Sales: </strong>+91-9090909090</p>
                </div>
            </div>

            <div class="col-lg-4 order-md-2 order-1">
                <img
                    class="img-fluid pt-lg-5 img-magic py-lg-0 py-4"
                    src="images/meditation.png"
                    alt=""
                />
            </div>
        </div>
    </div>
</section>

<hr width="85%" />


<section id="bragging" class="pt-3 pb-5">
    <div class="container px-lg-5">

        <div class="row px-lg-5">
            <div class="col-md-4 px-lg-5 py-lg-0 py-2">
                <img
                    width="60px"
                    class="img-fluid"
                    src="images/dig1.svg"
                    alt=""
                />
                <h5 class="quality-head pt-lg-3 pb-lg-2">
                    Seamless integrations
                </h5>
                <p class="quality-desc">
                    Bitly integrates with hundreds of industry-leading marketing
                    platforms, including the tools you love and use every day.
                </p>
            </div>

            <div class="col-md-4 px-lg-5 py-lg-0 py-2">
                <img
                    width="60px"
                    class="img-fluid"
                    src="images/dig2.svg"
                    alt=""
                />
                <h5 class="quality-head pt-lg-3 pb-lg-2">
                    Proven API for links at scale
                </h5>
                <p class="quality-desc">
                    Automate the delivery of unique branded links for SMS
                    marketing efforts or as part of any customized programmatic
                    workflow.
                </p>
            </div>

            <div class="col-md-4 px-lg-5 py-lg-0 py-2">
                <img
                    width="60px"
                    class="img-fluid"
                    src="images/dig3.svg"
                    alt=""
                />
                <h5 class="quality-head pt-lg-3 pb-lg-2">
                    Ready-to-go support
                </h5>
                <p class="quality-desc">
                    If you have questions, you’ll have full access to Bitly’s
                    extensive knowledge base and resource library. If you’re an
                    Enterprise customer, you’ll also be paired up with a
                    customer success manager.
                </p>
            </div>
        </div>

        <div class="row px-lg-5">
            <div class="col-md-4 px-lg-5 py-lg-0 py-2">
                <img
                    width="60px"
                    class="img-fluid"
                    src="images/cust1.svg"
                    alt=""
                />
                <h5 class="quality-head pt-lg-3 pb-lg-2">Onboarding</h5>
                <p class="quality-desc">
                    Get the most out of Bitly with the help of our robust
                    knowledge base so you can maximize your customer
                    relationships.
                </p>
            </div>

            <div class="col-md-4 px-lg-5 py-lg-0 py-2">
                <img
                    width="60px"
                    class="img-fluid"
                    src="images/cust2.svg"
                    alt=""
                />
                <h5 class="quality-head pt-lg-3 pb-lg-2">Robust security</h5>
                <p class="quality-desc">
                    Bitly follows industry best practices in security solutions,
                    including HTTPS on all links and multi-factor
                    authentication.
                </p>
            </div>

            <div class="col-md-4 px-lg-5 py-lg-0 py-2">
                <img
                    width="60px"
                    class="img-fluid"
                    src="images/cust3.svg"
                    alt=""
                />
                <h5 class="quality-head pt-lg-3 pb-lg-2">
                    Reliable API and integration
                </h5>
                <p class="quality-desc">
                    Improve customer engagement with real-time personalized
                    communication at scale.
                </p>
            </div>
        </div>
    </div>
</section>


<section class="brands-section pb-lg-5">
    <div class="row">
        <div class="col text-center">
            <h3>The most recognized brands in the world love Bitly</h3>
        </div>
    </div>

    <div class="row pl-lg-0 pl-3 ml-auto ml-lg-0">
        <div class="col-lg-2"></div>

        <div class="col-lg-1 col-6">
            <img class="img-fluid check" src="images/espn.svg" alt="" />
        </div>
        <div class="col-lg-1 col-6">
            <img class="img-fluid" src="images/disney.svg" alt="" />
        </div>
        <div class="col-lg-1 col-6">
            <img class="img-fluid" src="images/amazon.svg" alt="" />
        </div>
        <div class="col-lg-1 col-6">
            <img class="img-fluid" src="images/nike.svg" alt="" />
        </div>
        <div class="col-lg-1 col-6">
            <img class="img-fluid" src="images/buzzFeed.svg" alt="" />
        </div>
        <div class="col-lg-1 col-6">
            <img class="img-fluid" src="images/theNYTimes.svg" alt="" />
        </div>
        <div class="col-lg-1 col-6">
            <img class="img-fluid" src="images/gartner.svg" alt="" />
        </div>
        <div class="col-lg-1 col-6">
            <img class="img-fluid" src="images/bose.svg" alt="" />
        </div>

        <div class="col-lg-2"></div>
    </div>
</section>


<hr width="81%" />



<%- include("layouts/footer.ejs") %>
