<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>
        <%= title %>
    </title>

    <!-- Google Fonts -->

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />

    <!-- Custom Styles -->
    <link rel="stylesheet" href="css/styles.css" />

    <!-- Fontawesome CDN -->
    <script src="https://kit.fontawesome.com/c622614d7c.js" crossorigin="anonymous"></script>

    <script type="text/javascript">
        function dynInput(cbox) {
            if (cbox.checked) {
                var input = document.createElement("input");
                input.type = "text";
                var div = document.createElement("div");
                div.id = cbox.class;
                div.appendChild(input);
                document.getElementById("insertinputs").appendChild(div);
            } else {
                document.getElementById(cbox.class).remove();
            }
        }
    </script>

</head>

<body>
    <section>
        <div class="container pt-md-3 p-1 m-1">
            <div class="row">
                <div class="col">
                    <a class="px-md-4 mx-md-3 p-1 m-1" href="/">
                        <img class="signup-header-img mx-md-5" src="images/logo.png" alt="bitly-logo" />
                    </a>
                    <hr style="width: 88%; margin: 4px auto" />
                </div>
            </div>
        </div>
    </section>


    <div class="container pt-md-5 pt-1">
        <div class="row justify-content-md-center pt-4">
            <div class="col-12 col-lg-4 col-sm-auto px-5">
                <h2 class="h2">Your Links Are Everything</h2>
                <p class="para px-md-0 px-2">Links carry your brand and connect your audience in ways that no other medium can. They're kind of a big deal.</p>
                <p class="para px-md-0 px-2">You’re about to start creating powerful links. Easier-to-manage links. Branded links. Bitly links.
                </p>
            </div>

            <div class="col-sm-auto col-lg-2 col-12 pt-md-2 pt-5 px-5 px-md-3">
                <div class="pr-md-2">
                    <form>
                        <div class="form-group">
                            <label for="fname">First name</label>
                            <input type="email" class="form-control input-field" id="fname" aria-describedby="emailHelp">
                        </div>

                        <div class="form-group">
                            <label for="lname">Last name</label>
                            <input type="email" class="form-control input-field" id="lname" aria-describedby="emailHelp">
                        </div>

                        <label for="inputState">What are you looking to do? *</label>

                        <div class="form-check py-1">
                            <input type="checkbox" class="form-check-input" id="social">
                            <label class="form-check-label" for="social">
                                Social media marketing</label>
                        </div>
                        <div class="form-check py-1">
                            <input type="checkbox" class="form-check-input" id="digital">
                            <label class="form-check-label" for="digital">

                                Digital campaigns</label>
                        </div>
                        <div class="form-check py-1">
                            <input type="checkbox" class="form-check-input" id="sms">
                            <label class="form-check-label" for="sms">

                                SMS notifications</label>
                        </div>
                        <div class="form-check py-1">
                            <input type="checkbox" class="form-check-input" id="brand">
                            <label class="form-check-label" for="brand">

                                Branding</label>
                        </div>
                        <div class="form-check py-1">
                            <input type="checkbox" class="form-check-input" id="campaigns">
                            <label class="form-check-label" for="campaigns">

                                Offline campaigns</label>
                        </div>
                        <div class="form-check py-1">
                            <input type="checkbox" class="form-check-input" id="influence">
                            <label class="form-check-label" for="influence">

                                Influencer marketing</label>
                        </div>
                        <div class="form-check py-1">
                            <input type="checkbox" class="form-check-input" id="comms">
                            <label class="form-check-label" for="comms">

                                Internal communications</label>
                        </div>
                        <div class="py-1 pb-3">
                            <input class="check" id="other" type="checkbox" name="" onclick="dynInput(this);" />
                            <label class="form-check-label" for="other">

                                Other</label>
                            <p id="insertinputs"></p>
                        </div>
                        <button type="submit" class="btn btn-save"><a href="#" style="color: #fff; text-decoration: none;">Save</a></button>
                        <p class="skip-step pt-4"><a href="#" style="text-decoration: none;">Skip this step</a></p>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>